<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <section class="contact">
        <h2>Contact Us</h2>
        <form>
          <label for="name">Name:</label>
          <input type="text" id="name" name="name" required>
      
          <label for="email">Email:</label>
          <input type="email" id="email" name="email" required>
      
          <label for="phone">Phone:</label>
          <input type="tel" id="phone" name="phone">
      
          <label for="message">Message:</label>
          <textarea id="message" name="message" required></textarea>
      
          <button type="submit">Submit</button>
        </form>
      </section>
</body>
</html>